<div class="yui-gc">
	<div class="yui-u first">
	
	<h1>Welcome to the <%= Insight.configuration.product_name %> support area</h1>

	<h2>This is where we handle all support for <%= Insight.configuration.product_name %>.</h2>

	<p>You can search our knowledge base or public discussions for answers to your questions. Alternatively
	you can create a new issue and we'll help you as soon as we can.</p>

	<p>Please take the time to create an account it will help you better track and follow your issues.</p>

	<p>From the helpdesk you can raise public issues (everyone can see and reply to them) or private issues
	which are viewable only by our support staff.</p> 

	</div>

	<div class="yui-u support-staff">
	<h3>Support Staff</h3>
	<p>The following support representatives are available to discuss your requests.</p>
  </div>
</div>

<div class="yui-gb big-menu">
	<div class="yui-u first">
		<p><a href="/help/issues/new">Start a discussion</a></p>
	</div>
	<div class="yui-u">
		<p><a href="/knowledge/">Knowledge base</a></p>
	</div>
	<div class="yui-u">
		<p><a href="/help/browse/">Browse discussions</a></p>
	</div>
</div>

