<h1>Help &amp; Support</h1>

<ul>
  <li>
    <%= link_to("Start a Discussion", new_help_issue_path) %>
  </li>
  <li>
    <%= link_to("Browse Discussions", help_browse_path) %>
  </li>
  <li>
    <%= link_to("Knowledge Base", knowledge_path) %>
  </li>
</ul>