<h1>Knowledge Base</h1>

<div class="articles">
  <% @categories.each do |category| %>
    <% if !category.articles.empty? -%>
      <div class="category">
        <h2><%= category.name %></h2>
        <ul>
          <% category.articles[0..5].each do |article| %>
            <li>
              <%= link_to(article.title, knowledge_article_path(article.slug)) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>